node_modules
vendor
.git
.gitignore
.env
.env.*.local
.phpunit.result.cache
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*.php
npm-debug.log
yarn-error.log
.idea
.vscode
*.md
kubernetes/*.yaml
